body {
    
    background-color: rgb(250, 213, 199);
}
h1, p {text-align: center;}

.footer-container {
    display: flex;
    justify-content: center;
}
.footer-container a{
    padding: 20px;
    color: rgb(91, 89, 89);
    text-decoration:none;
}
.footer-container a:hover{text-decoration: underline;}

.tango-photo{
    max-width:100%;
    display: block;
margin: 30px auto;
border-radius: 10px;}

.contact-link{
    text-decoration: none;
color: rgb(91, 89, 89);
font-weight: 900;
}
.contact-link:hover{text-decoration: underline;
}